.cero{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 30px;
}

.border-container {
    display: inline-block;
    border: 2px solid #000;
    padding: 5px;
    width: 150px; /* Ajusta la anchura según tus necesidades */
    
    
}
.border-container:hover{
    background-color: #000;
}
.border-text {
    display: inline-block;
    width: 100%; /* Hace que el texto ocupe el 100% del ancho del contenedor */
    /* Agrega estilos adicionales para el texto según tus necesidades */
    padding-left: 50px;
}
.border-text:hover{
    color: #3498db;
    
}



.boton{
    
    padding-left: 450px;
   
}

.letras{
    display: flex;
    justify-content: center;
    padding-right: 420px;
    
}

.variasimagenes{
    margin: auto;
    display: flex;
    width: 700px;
    height: 310px;
    justify-content: center;
    
}

section.uno{
    padding-top: 30px;
   margin-bottom: 120px;
}
img{
    padding-left: 30px; 
    border-radius: 20px;
}
img:hover{
    transform: scale(1.2);
}

div.dos{
    margin: auto;
    display: flex;
    width: 700px;
    height: 310px;
    justify-content: center;
    padding-top: 30px;
}
    


       
 h2{
     color: white;
 }
 
 footer {
    background-color: black;
    display: flex;
    justify-content: center;
    padding: 20px;
}


.parte1, .parte2 {
    margin-bottom: 10px; 
}

.foo {
    color: white;
    text-decoration: none;
    margin-right: 10px;
}

.foo:hover {
    color: #3498db;
}
p{
    color: gray;
    padding-top: 5px;
}

.tres{
    display: flex;
    justify-content: baseline ;
    padding-right: 600px;
}

